name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install GCC
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential

    - name: Build
      run: make

    - name: Run snapshot
      run: |
        ./sysmon --snapshot > snapshot.txt
        cat snapshot.txt

    - name: Upload snapshot
      uses: actions/upload-artifact@v4
      with:
        name: snapshot
        path: snapshot.txt
